<!DOCTYPE html>

<html>
<head>
	<title>Page Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
	<link rel="stylesheet" href="data/css/palate.css"/>

	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script>
		$(document).on( "mobileinit", function() {
		  $.mobile.defaultPageTransition = "pop";
		});
	</script>
	<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

	<script src="data/js/underscore.js"></script>
	<script src="data/js/backbone.js"></script>
	<script src="data/js/palate.js"></script>
</head>
<body>

<script>
	$(function() { Palate.main() });
</script>

<div data-role="page" id="loginPage">
	<div role="main" class="ui-content">
		<div id="loginCont" class="palate">
			<h1>Palate</h1>
			<a href="#registerPage" class="ui-btn ui-btn-inline">Sign Up</a>
			<a href="#challengeListPage" class="ui-btn ui-btn-inline">Log In</a>
		</div>
	</div>
</div>

<div data-role="page" id="challengeListPage">
	<div data-role="header">
		<h1>Challenges</h1>
	</div>

	<div role="main" class="ui-content">
		<div id="challengeListCont"></div>
		<div id="challengeListTemplates" style="display:none">
			<div id="challengeItemTmp">
				<div id='itemCont'>
					<img src='{ imageUrl }' class='challengeImage'/>
					<h2 class='challengeTitle'>{ title }</h2>
					{ tags }
				</div>
			</div>
			<div id="challengeItemTagsTmp">
				<h2 class='challengeTag'>{ tagName }</h2>
			</div>
		</div>
	</div>
</div>

<!-- Start of second page -->
<div data-role="page" id="challengePage">
	<div data-role="header">
		<h1>Details</h1>
	</div>

	<div role="main" class="ui-content">
		<div id="challengeCont"></div>
		<input type="file" capture="camera" accept="image/*" id="takePictureField">
		<img id="cameraImage"/>
	</div>
</div>
</body>
</html>