<!DOCTYPE html>

<html>
<head>
	<title>Palate</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Palate">

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
	<link rel="stylesheet" href="data/css/palate.css"/>
	<link rel="stylesheet" href="data/css/transitions.css"/>

	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script>
		$(document).on( "mobileinit", function() {
		  $.mobile.defaultPageTransition = "pop";
		});
	</script>
	<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

	<script src="data/js/underscore.js"></script>
	<script src="data/js/backbone.js"></script>
	<script src="data/js/palate.js"></script>
	<script src="data/js/events.js"></script>
</head>
<body>

<script>
	$(function() { 
		logEvents();
		Palate.main() 
	});
</script>

<div data-role="page" id="loginPage">
	<div role="main" class="ui-content">
		<div id="loginCont" class="palate">
			<h1>Palate</h1>
			<a href="#registerPage" class="ui-btn ui-btn-inline">Sign Up</a>
			<a href="#challengeListPage" class="ui-btn ui-btn-inline" id="challengeListPageLink">Log In</a>
		</div>
	</div>
</div>

<div data-role="page" id="challengeListPage">
	<div data-role="header">
		<h1>Challenges</h1>
	</div>

	<div role="main" class="ui-content" id="challengeListCont">
	</div>
</div>

<div data-role="page" id="challengePage">
	<div role="main" class="ui-content" id="challengeCont">
	</div>
</div>

<div data-role="page" id="challengeFeedPage">
	<div data-role="header">
		<h1 id="feedTitle"></h1>
	</div>

	<div role="main" class="ui-content" id="challengeFeedCont">
	</div>
</div>

<div data-role="page" id="foo">
	<input type="file" capture="camera" accept="image/*" id="takePictureField">
	<img id="cameraImage"/>
</div>

<div id="templates" style="display:none">
	<!-- CHALLENGE DETAILS -->
	<div id="challengeTmp">
		<h3 class="ui-bar ui-bar-a">{ title }</h3>
	    <div class="ui-body">
	        <p>{ desc }</p>
	        <a href="#challengeFeedPage" class="ui-btn" id="challengeFeedLink">Start Challenge</a>
	    </div>
	    { content }
	</div>
	<div id="tilesTmp">
		<div class="ui-grid-b">
	    	{ tiles }
		</div>
	</div>
	<div id="challengeTileTextTmp">
	    <div class="ui-block-{ blockIndex }">
	    	<div class="ui-bar ui-bar-a" style="height:60px">
	    		<p>{ text }</p>
	    	</div>
	    </div>
	</div>
	<div id="challengeTileImgTmp">
		<div class="ui-block-{ blockIndex }">
	    	<div class="ui-bar ui-bar-a" style="height:60px">
	    		<img src='{ imageUrl }' class="tileImage"/>
	    	</div>
	    </div>
	</div>

	<!-- CHALLENGE LIST -->
	<div id="challengeItemTmp">
		<div class='challengeImageCont'>
			<a href="#challengePage" id="coverImageLink{ id }">
				<img src='{ imageUrl }' class='challengeImage'/>
			</a>
			<h2 class='challengeTitle'>{ title }</h2>
			{ tags }
		</div>
	</div>
	<div id="challengeItemTagsTmp">
		<h2 class='challengeTag' style='top: { bottomPos }px;'>{ tagName }</h2>
	</div>

	<!-- CHALLENGE FEED -->
	<div id="challengeFeedTmp">
		<form>
			<label for="challengeProgress">Progress</label>
			<input 	type="range" name="challengeProgress" id="challengeProgress" 
			   		data-mini="true" min="0" max="{ totalPics }" value="{ donePics }" />
		</form>
		<div data-role="tabs">
			<div data-role="navbar">
				<ul>
					 <li><a href="#firstTab" data-ajax="false" id="firstTabLink">All</a></li>
					 <li><a href="#secondTab" data-ajax="false" id="secondTabLink">Mine</a></li>
					 <li><a href="#thirdTab" data-ajax="false" id="thirdTabLink">Both</a></li>
				</ul>
			</div>
			
			<div id="firstTab" class="ui-body-d ui-content">
				{ content }
			</div>

			<div id="secondTab" class="ui-body-d ui-content"></div>
			<div id="thirdTab" class="ui-body-d ui-content"></div>
		</div>
	</div>
</div>

</body>
</html>