<!DOCTYPE html>

<html>
<head>
	<title>Page Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />

	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script>
		$(document).on( "mobileinit", function() {
		  $.mobile.defaultPageTransition = "pop";
		});
	</script>
	<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

	<script src="static/js/underscore.js"></script>
	<script src="static/js/backbone.js"></script>
	<script src="static/js/palate.js"></script>
</head>
<body>

<script>
	$(function() { Palate.main() });
</script>

<!-- Start of first page -->
<div data-role="page" id="challengeListView">
	<div data-role="header">
		<h1>Challenge List</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<input type="file" capture="camera" accept="image/*" id="takePictureField">
		<div id="challengeListCont"></div>
		<div id="cameraImageCont">
			<img id="cameraImage"/>
		</div>
	</div><!-- /content -->
</div><!-- /page -->

<!-- Start of second page -->
<div data-role="page" id="challengeView">

	<div data-role="header">
		<h1>Challenge Details</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div id="challengeCont"></div>
	</div><!-- /content -->
</div><!-- /page -->
</body>
</html>